.form {
   max-width: 40rem;
   margin: 2rem auto;
}

.form div {
   margin-top: 1rem;
   text-align: left;
}

.form div label {
   margin-bottom: 10px;
}

.form div label,
.form div input,
.form div textarea {
   display: block;
   width: 100%;
}

.form div input {
   width: 100%;
   height: 30px;
   border: none;
   border-radius: 5px;
   padding-left: 10px;
}

.form div textarea {
   border: none;
   border-radius: 5px;
   padding: 10px;
}

.actions {
   display: flex;
   gap: 1rem;
   justify-content: flex-end;
}
